.edit {

  &-task {
    background: #34495E;
    min-width: 320px;
    height: 100%;
    padding: 16px;
    display: none;
    position: relative;
    padding-top: 162px;
    overflow: hidden;

    @media screen and (min-width:720px){
      display: block;
      width: 320px;
      padding-top: 85px;
    }
  }

  &-input {
    color: var(--light-color);
    background: var(--main-color);
    padding-left: 16px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    height: 44px;

    &-description {
      resize: none;
      height: 160px;
      padding: 16px;
      
      &:focus {
        border: .5px var(--third-color) solid;
      }
    }

    &-checkbox {
      display: inline-block;
      width: 24px;
    }

    &-submit {
      background: var(--third-color);
      margin-top: 24px;
      border-radius: 8px;
      margin-top: auto;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
}

label {
  color: var(--third-color);
  font-size: 12px;
  margin-bottom: 8px;
}