.task {
  &-container {
    background: var(--main-color);
    flex: 2 1 100%;

    & > #tasks {
      height: 100%;
      display: flex;    
      flex-direction: column;
      justify-content: space-between;
      padding: 24px;
      width: 100%;
    }

  }

  &-project-title {
    color: var(--third-color);
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: var(--title-margin-top);
  }

  &-list {
    max-height: 340px;
    overflow-y: auto;
    height: 100%;
    //width: 500px;
  }

  &-item {
    background-color: var(--second-color);
    height: 52px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
      margin-right: 24px;
      display: inline-block;
    }

    &:hover {
      background-color: var(--alt-second-color);
    }

    & > p {
      color: var(--light-color);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    & > .delete-button {
      display: none;

      &:hover {
        cursor: pointer;
        stroke: red;
      }
    }

    &:hover .delete-button {
      display: inline-block;
    }
  }
}


.add-new-task {
  color: var(--light-color);
  background: var(--alt-second-color);
  margin-bottom: 16px;
  height: 52px;
  border: none;
  padding: 24px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
}

.task-done {
  
  & > .task-title {
    color: var(--third-color);
    text-decoration: line-through;
  }
}

.feather-check-circle {
  stroke: var(--third-color);
}