.task {
  &-container {
    background: var(--main-color);
    flex: 2 1 100%;
    display: none;

    @media screen and (min-width:720px){
      display: block;
    }

    & > #tasks {
      height: 100%;
      display: flex;    
      flex-direction: column;
      width: 100%;
      padding-bottom: 0;
      padding: 0 16px;
    }

  }

  &-project-title {
    color: var(--third-color);
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 162px;
    margin-bottom: 8px;
    @media screen and (min-width:720px) {
      margin-top: 85px;
    }
  }

  &-list {
    max-height: 340px;
    overflow-y: auto;
    height: 100%;
  }

  &-item {
    background-color: var(--second-color);
    height: 44px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
      margin-right: 16px;
      display: inline-block;
    }

    &:hover {
      background-color: var(--alt-second-color);
    }

    & > p {
      color: var(--light-color);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    & > .delete-button {
      display: block;

      &:hover {
        cursor: pointer;
        stroke: red;
      }
    }

    @media screen and (min-width: 720px) {
      & > .delete-button {
        display: none;
      }
    } 

    &:hover .delete-button {
      display: inline-block;
    }
  }
}


.add-new-task {
  color: var(--light-color);
  background: var(--alt-second-color);
  margin-bottom: 16px;
  height: 44px;
  border: none;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  margin-top: auto;
  min-height: 44px;

}

.task-done {
  
  & > .task-title {
    color: var(--third-color);
    text-decoration: line-through;
  }
}

.feather-check-circle {
  stroke: var(--third-color);
}