*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--alt-second-colot); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--third-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}