:root {
  --main-color: #2F3640;
  --second-color: #34495E;
  --third-color: #00A8FF;
  --alt-second-color: rgba(52, 73, 94, 0.753);
  --light-color: #DCDDE1;

  --font-family: 'Montserrat', sans-serif;
  --title-margin-top: 64px;
}